/*--Description: Réalisation d'une maquette pour "Maison de la Copie"
Auteur: Jessica Anschutz 
Date: Semaine 25 --*/

body {
    background-color: gainsboro;
}

/* Barre de navigation */

.logo {
    margin:0 auto;
    text-align: center;
    padding: 10px;   
}

.container {
    margin:auto;
    width: 1020px;
}

.navbar {
    width:800px;
    margin:0 auto;   
}

.navbar ul {
    text-align: center;
    word-spacing: 5em; 
    background-color:whitesmoke; 
    padding: inherit;
    height:40px;
    padding-top: 20px;
}

.nav-links {
    color:darkblue;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', arial, serif;
    font-size:18px;
    padding 0 20px;
}

a:hover {
    color:darkgray;
}

/* Header */

header {
    background-color:#1355a0;
    height:300px;
}

h1 {
    color:white;
    font-size:100px;
    font-family: 'Open Sans', arial, serif;
    font-weight:300;
    text-transform:uppercase;
    text-align:center;
    font-style: oblique;
}

/* Formulaires */

.container-3{
    margin:auto;
    background-color:whitesmoke;
    width: 1020px;
    height: 630px;
    padding-top: 20px;    
}

.container-3 p {
    font-size:16px;
    font-family: 'Open Sans', arial, serif;
    text-align: center;
}

.formulaire-1 {
    margin:auto;
    background-color:white;
    width: 560px;
    height: 340px;
    padding-top: 20px; 
}

.formulaire-1 h2 {
    font-size:16px;
    font-family: 'Open Sans', arial, serif;
    text-align: center;
}
.titre-formulaire {
    font-size:16px;
    font-family: 'Open Sans', arial, serif;
    color:black; 
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.loi p {
    font-size:10px;
    font-family: 'Open Sans', arial, serif;
    text-align: center;
    font-style: italic;
}

.submit {
    text-align: center;
}

/* Container */

.plan {
    text-align: center; 
}

h2 {
    font-size:22px;
    font-family: 'Open Sans', arial, serif;
    color:#153962; 
    text-align: center;
}

.container-2 {
    margin:auto;
    background-color:#fff;
    width: 1020px;
    height: 550px;
    padding-top: 20px;  
}

.container-2 p {
    text-align: center;
    font-size:16px;
    font-family: 'Open Sans', arial, serif;   
}

/* Espace client */

form {
    font-family: 'Open Sans', arial, serif;
    font-size: 16px;
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.espaceclient h2 {
    font-size:22px;
    font-family: 'Open Sans', arial, serif;
    text-align: center;
    background-color: white;
    height: 40px;
    padding-top: 10px;
}

/* Footer*/

h3 {
    font-size:20px;
    font-family: 'Open Sans', arial, serif;
    color:#153962;
}

h3 p {
    font-size:18px;
    font-family: 'Open Sans', arial, serif;
}

.footer {
    background-color:#1355a0;
    width:1024px;
    height:200px;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}

.adresse {
    text-align: center;
    font-weight: normal;
    display:inline-block;
    width:330px;
    height: 330px;
    color:whitesmoke;
    padding-top: 5px;
}

.horaires {
    text-align: center;
    font-weight: normal;
    display:inline-block;
    width:330px;
    height: 330px;
    color:whitesmoke;
    padding-top: 5px;
}

.contact {
    text-align: center;
    font-weight: normal;
    display:inline-block;
    width:330px;
    height: 330px;  
    color:whitesmoke; 
    padding-top: 5px;
  
}

.logos {
    height:35px;
    width:35px;
}
